<p id="notice"><%= notice %></p>

<h1>Character: <%= link_to "#{@event_character.name}", character_path(@event_character) %></h1>
<h1>Event: <%= @event.name %></h1>
<h2> Event XP: <%= @event.xp%></h2>

<% if @treasures.each do |treasure| %> <p>Treasure
Name: <%= treasure.name %></p>
Value: <p><%= treasure.gold_value%></p>
Kind: <p><%=treasure.kind%></p>
    <%= link_to 'Edit Treasure', edit_planner_event_treasure_path(@planner, @event, treasure)%>
    <%= link_to 'Delete Treasure', planner_event_treasure_path(@planner, @event, treasure), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    __________________
<% end %>
    <% end %>

<p><%= link_to 'Add Event XP To Character', {controller: 'characters', action: 'experience', id: @event_character.id, event: @event.id} %> |
<%= link_to 'Add Treasure', new_planner_event_treasure_path(@planner, @event) %> |
<%= link_to 'Edit', edit_planner_event_path(@planner, @event) %> |
<%= link_to 'Delete Event', planner_event_path(@planner, @event), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<%= link_to 'Back', character_planner_path(@event_character, @planner) %> |
<%= link_to 'See The Highest XP Yielding Events', highest_xp_events_path %></p>