<p> Name: <%= character.name %> </p>
<p> Subtle: <%= character.subtle %> </p>
<p> Powerful: <%= character.powerful %> </p>
<p> Resistant: <%= character.resistant %> </p>
<p> Level: <%= character.level %> </p>
<p> XP: <%= character.xp %> </p>