<%= form_for character, :url => { :action => "level_up" } do |f| %>
    <% if character.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

          <ul>
            <% character.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>Name: <%= character.name %></p>
    <%= f.label :subtle %>
    <%= f.number_field :subtle %>
    <%= f.label :powerful %>
    <%= f.number_field :powerful %>
    <%= f.label :resistant %>
    <%= f.number_field :resistant %>
    <h2>Note: Leveling up only gives you 30 additional attribute points to work with!</h2>
    <h2> You currently have <%= "#{character.spendable_points}" %> points to spend</h2>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>