<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @characters.each do |character| %>
        <div class="row">
        <div class="col s12 m6">
        <div class="card">
        <hr/>
        
      <h4> Character Name: <%= character.name %> </h4>
      <h5> Created by: <%= character.user.email %></h5>
      <hr/>
      <br/>
      <%# this div-class is to be filled in with data after the more info button is
      clicked, and contains an appropriate id for the jQuery function to know which
      character to display the data of.%>

      <div class= "js-expand" id="<%=character.id%>" >
      </div>

      <%# this button is to on click trigger display of more info of the appropriate
      character based on the data-id using the expand action and route and jQuery.%>
      
      <button class= "js-more" data-id="<%=character.id%>"> More info </button>
      <br/>
      <br/>
      <hr/>
        <% if !!character.planner %>
        <ul>
        <li> <%= link_to "Planner", character_planner_path(character, character.planner), class: "show-planner", :'data-character-id' => character.id, :'data-planner-id' => character.planner.id %> </li>
      <% else %>
      <li><%= link_to "Create Planner", character_planners_path(character), method: :post %></li>
      <% end %>
      <li><%= link_to 'Show the Character', character, class: 'show-character', :'data-id' => character.id, :remote => true %></li>
      <li><%= link_to 'Edit Character', edit_character_path(character) %></li>
      <li><%= link_to 'Delete Character', character, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
<hr/>
</br>

  </div>
  </div>
  </div>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
<%= link_to 'New Character', new_character_path %>
<% end %>