<nav class="">
  <ul>
    <p><%= link_to "Sign up", new_user_registration_path %></p>
    <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
    <% if user_signed_in?%>
        <p><%= "Signed in as #{current_user.email}"%></p>
        <% else %>
        <p><%= link_to "Sign in", user_session_path %></p>
    <%end%>
    <p> <%= link_to "See all characters", characters_path %> </p>
  </ul>
</nav>
