<!DOCTYPE html>
<html>
  <head>
    <title>RPGCharacterPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_messages' if !flash.empty? %>
    <div id="content">
      <%= yield %>
    </div>
    </body>
</html>
